@font-face {
    font-family: "icons";
    src: url("./icons.eot?443ecdccb3048ee58d5b9bbb9c0027fa#iefix") format("embedded-opentype"),
url("./icons.woff2?443ecdccb3048ee58d5b9bbb9c0027fa") format("woff2"),
url("./icons.woff?443ecdccb3048ee58d5b9bbb9c0027fa") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apps:before {
    content: "\f101";
}
.icon-bell:before {
    content: "\f102";
}
.icon-search:before {
    content: "\f103";
}
