@import 'variables';
@import 'prefix';


.form-group {
  margin-bottom: 24px;

  label {
    @extend .h6-roboto-—-14pt-;
    color: $gray-600;
    span{
      @extend .h6-roboto-—-14pt-;
      color: $danger !important;
    }
  }

  .ng-select.ng-select-single .ng-select-container {
    height: 44px;
  }

  .ng-select .ng-select-container {
    border-radius: 4px;
    border: 1px solid $gray-300;
  }
  .form-input {
    input {
      position: relative;
      width: 100%;
      padding: 8px 12px;
      @extend .regular-roboto-—-14pt-;
      border-radius: 4px;
      border: 1px solid $gray-300;
      &:disabled {
        border-color: #d7d7d7;
        color: #9c9c9c;
        background-color: $gray-200;
        cursor: default;
      }
    }
  }
}

