@import 'src/assets/scss/variables';
@import 'src/assets/scss/buttons';
@import 'src/assets/scss/prefix';

.landing-pg-container{
    min-height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 15px;
}