<header>
    <div class="header-left-side">
      <div class="header-logo">
        <a href="">
          <img src="assets/images/logo-colored.webp" alt="CSI Logo">
        </a>
      </div>
    </div>
  
    <div class="header-right-side">
      <div class="notification">
        <!-- <i class="icon icon-notification"></i> -->
      </div>
      <div class="profile-info">
        <div class="profile-details">
          <div class="name">
            <h6><b><span class="red-content">Hello </span></b></h6>
          </div>
        </div>

        <!-- <div #dropdownBtn class="drop-arrow" (click)="toggleClass()">
          <i class="icon icon-chevron-up" [ngClass]="isClicked ? 'up' : 'down'"></i>
          <div #dropdownOptions class="dropdown-options" [ngClass]="{show: isClicked}">
            <button>Change Password</button>
            <hr>
            <div>
              <button (click)="logout()">Logout<i class="icon icon-log-out"></i></button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  
  </header>
  