@import 'src/assets/scss/variables';
@import 'src/assets/scss/prefix';

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #00000029;
  opacity: 1;

  .header-left-side {
    display: flex;
    gap: 22px;
    padding: 0px 12px;
    .header-logo {
      margin-left: 24px;
  
      img {
        height: 52px;
        margin: 5px auto;
      }
    }
  }

  .header-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    .search{
      position: relative;
      margin-right: 4px;
      i{
        position: absolute;
        color: $primary-300;
        right: 15px;
        top: 7px;
        cursor: pointer;
      }
      .form-control{
        @extend .regular-roboto-—-14pt-;
        border: 1px solid $gray-200;
        border-radius: 4px;
        width: 250px;
      }
    }
    .profile-img {
      position: relative;
      border-radius: 50%;
      margin-right: 15px;
      cursor: pointer;
  
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  
    .notification,.menu {
      display: flex;
      align-items: center;
      border-radius: 8px;
      width: 50px;
      height: 50px;
      padding: 7px 7px 3px 12px;
      color: $primary-600;
      margin: auto 3px;
      cursor: pointer;
  
      i {
        font-size: 24px;
      }
      &:hover {
        background-color: $gray-100;
      }
    }
  }

}


