<header>
  <div class="header-left-side">
    <div class="header-logo">
      <a href="">
        <img src="assets/images/logo-colored.webp" alt="CSI Logo">
      </a>
    </div>
  </div>

  <div class="header-right-side">
    <!-- Search form -->
    <form>
      <div class="md-form search">
        <i class="icon icon-search"></i>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <div class="notification">
      <i class="icon icon-bell"></i>    
    </div>
    <div class="menu">
      <i class="icon icon-apps"></i>
    </div>
    <div class="profile-img">
      <img src="assets/images/blank-profile-picture.webp" alt="Profile pic">
    </div>
  </div>

</header>