<app-header></app-header>
<div class="page-container">
    <section class="page-title-section">
        <div class="page-title">
            <h4>General Information</h4>
        </div>
    </section>
    <form>
        <div class="box first">
            <div class="box-title">
                Biographic Information
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="firstName">First Name <span>*</span></label>
                        <div class="form-input">
                            <input id="firstName" type="text" value="" placeholder="First Name" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lastName">Last Name <span>*</span></label>
                        <div class="form-input">
                            <input id="lastName" type="text" value="" placeholder="Last Name" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Birthday</label>
                        <div class="form-input">
                            <input id="birthday" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <ng-select placeholder="Select Gender" name="gender"
                            [items]="gender" bindLabel="gender" bindValue="gender">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="civilStatus">Civil Status</label>
                        <ng-select placeholder="Select Civil Status" name="civilStatus"
                            [items]="civilStatus" bindLabel="civilStatus" bindValue="civilStatus">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <ng-select placeholder="Select Nationality" name="nationality"
                            [items]="nationality" bindLabel="nationality" bindValue="nationality">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="box second">
            <div class="box-title">
                Contact Information
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <div class="form-input">
                            <input id="phoneNumber" type="text" value="" placeholder="Phone Number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <div class="form-input">
                            <input id="emailAddress" type="text" value="" placeholder="Email Address" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <div class="form-input">
                            <input id="address" type="text" value="" placeholder="Address" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">City</label>
                        <div class="form-input">
                            <input id="city" type="text" value="" placeholder="City" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="zipCode">Zip Code</label>
                        <div class="form-input">
                            <input id="zipCode" type="text" value="" placeholder="Zip Code" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <ng-select placeholder="Select Country" name="country"
                            [items]="country" bindLabel="country" bindValue="country">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="cbtn ghost-btn w-20 mr-2">Clear</button>
            <button class="cbtn primary-btn w-20">Save</button>
        </div>
    </form>
</div>